.entry {
  display: flex;
  flex: horizontal;
  width: 100vw;
  height: 200px;
  padding-top: 20px;
}

img {
  height: 200px;
  width: 175px;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.entry {
  height: 200px;
}

.entry--words {
  width: 80vw;
  align-items: center;
  justify-content: center;
  height: 200px;
  overflow: hidden;
}

.entry--country {
  display: flex;
  flex: horizontal;
  align-items: center;
  font-size: 15px;
  padding: 0px;
  margin: 0px;
}

img {
  border-radius: 25px;
}


.entry--countryLink {
  color: grey;
  padding: 0px;
  margin: 0px;
}

.entry--location {
  margin: 0px;
  padding: 0px;
}

.entry--countryText {
  letter-spacing: 0.15em;
  font-weight: 600;
}

.entry--date {
  margin: 0px;
  margin-top: 15px;
  font-weight: 650;
}

.entry--description {
  margin: 0px;
  padding: 0px;
}

.location-symbol {
  height: 1em;
  width: 1em;
  margin: 0px;
  padding: 0px;
  padding-right: 10px;
}